{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="row bg-secondary">
    <div class="col-sm-12">
        <div class="row my-3">
            <div class="col-sm-9 mx-auto" id="records">
                <h1 class="text-center text-white">Registration</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 mx-auto">
                {% if msg %}
                <div class="alert alert-danger" role="alert">{{msg}}</div>
                {% endif %}
                <div class="row">
                    <div class="col-sm-12">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <td>Enter Name</td>
                                        <td>
                                            <input type="text" name="name" class="form-control"
                                                placeholder="Enter Name" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Gender</td>
                                        <td>
                                            <input type="radio" name="gender" value="Male" class="" />Male
                                            <input type="radio" name="gender" value="Female" class="" />Female
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Contact No</td>
                                        <td>
                                            <input type="number" name="contact" class="form-control"
                                                placeholder="Phone No" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Email Address</td>
                                        <td>
                                            <input type="email" name="emailaddress" class="form-control" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Address</td>
                                        <td>
                                            <textarea name="address" class="form-control"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>User Type</td>
                                        <td>
                                            <select name="usertype" class="form-control">
                                                <option value="">Select user type</option>
                                                <option value="owner">Owner</option>
                                                <option value="seller">Seller</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Password</td>
                                        <td>
                                            <input type="password" name="password" class="form-control" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Conform Password</td>
                                        <td>
                                            <input type="password" name="conpassword" class="form-control" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="text-center">
                                            <button class="btn btn-success" type="submit">Register</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block title %}
Registeration
{% endblock %}